.about-wrapper {
  color: var(--cream-100);
  background-color: var(--olive-800);
  display: flex;
  gap: 2rem;
  padding: 8rem;
  padding-bottom: 0;
  .about-img {
    width: 100%;
    height: 100%;

    img {
      position: relative;
      bottom: -5px;
    }
  }
  .about-text {
    .heading {
      color: var(--cream-100);
      width: 100%;
      padding: 1rem 0;
    }
    .about-descrip {
      margin: 1rem 0;
      color: var(--cream-100);
      font-family: "Manrope", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
      text-transform: capitalize;
    }
    .about-para {
      margin: 2rem 0;
      color: var(--cream-200);
      font-family: "Manrope", sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.6rem;
    }
  }
}
// about section shapes posioning
#about > .container {
  position: relative;
  .shapes {
    position: absolute;
  }
  .about-left-shape {
    top: 0;
    left: 0;
  }
  .about-right-shape {
    top: 0;
    right: 0;
  }
  .about-bottom-shape {
    bottom: 0;
    right: 0;
  }
}
// mobile responsive
