.hero-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  position: relative;
  height: 60vh;

  #hero-img {
    width: 60%;
    position: absolute;
    top: 0;
    left: 42.5%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .btn-group {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    .btn {
      padding: 1rem 1.2rem;
      border-radius: 2rem;
      border: none;
      outline: none;
      a {
        color: #fff;
        font-family: "Manrope", sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
    .portfolios-btn {
      background-color: var(--olive-800);
    }
    .cta-btn {
      border: var(--olive-800) 1px solid;
      a {
        color: var(--olive-800);
      }
    }
  }
}

// hero shapes posioning
#hero > .container {
  position: relative;
  overflow: hidden;
  .hero-left-shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .hero-bottom-shape {
    position: absolute;
    bottom: -3rem;
    left: 35%;
    z-index: -1;
  }
}
