// portfolio section styling
.portfolios-cards {
  padding: 6rem;
}
.portfolios-wrapper {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  .portfolios-item {
    width: 100%;
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: auto;
      border-radius: 1.3rem;
    }

    // portfolio title and datetime
    .portfolio-title,
    .datetime {
      display: block;
      margin-top: 0.2rem;
      font-family: "Manrope", sans-serif;
      color: var(--olive-800);
    }
    .portfolio-title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
    }
    .datetime {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4rem;
    }
  }
}
